body{
  margin: 0px;
  background-color: #ebe9e9
}

a.navbar-brand.navbar-link{
  margin-top:7px;
}

ul.nav.navbar-nav.navbar-right{
  margin-top:12px;
  margin-right:18px;
}

.navbar-brand img{
  margin-top: 2px !important;
  min-width: 40px;
  min-height: 40px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
  color:#363535;
  background-color:#e7e7e7;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
  color:#dad9d9;
  background-color:transparent;
}

.navbar-default .navbar-nav > li > a{
  color:#b8b6b6;
}

.navbar-brand, .navbar-nav > li > a{
  text-shadow:0 1px 0 rgba(255,255,255,.25);
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a{
  background-repeat:repeat-x;
  -webkit-box-shadow:inset 0 3px 9px rgba(0,0,0,.075);
  background:rgba(255, 255, 255, 0.3);
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
  background-color:#ddd;
  background:white;
}

button.navbar-toggle.collapsed{
  margin-top:16px;
  margin-right:52px;
}

nav.navbar.navbar-default{
  height: 100px;
  background: none;
  box-shadow: none;
  border: none;
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 75px;
}

.navbar-header a.navbar-brand img{
  height: 30px;
  margin-top: -4px;
}

.navbar-nav > li > a{
  padding-top: 10px;
  padding-bottom: 10px;
}

i.glyphicon.glyphicon-search{
  font-size: 20px;
  color: rgb(184,182,182);
}

#background{
  margin-top:-120px;
  background:url(../../Filman/img/background.jpg) no-repeat;
  background-size:cover;
  padding-top:111px;
  height:638px;
  max-height:1112px;
}

#background .jumbotron{
  background:none;
  margin-left:137px;
  max-width:1000px;
  margin-top:22px;
}

#background .jumbotron h1{
  font-family:nexa;
  color:white;
  margin-bottom:-12px;
}

#background .jumbotron p{
  font-family:raleway;
  color:white;
  margin-bottom:-12px;
  margin-top:27px;
  padding-right:307px;
}

#home{
  text-align: center;
}

#home .container h1{
  margin:36px;
}

#home .container .row{
  margin:-3px;
}

#home .isi .container.atas{
  background-color:#f9f8f8;
  margin-top:-85px;
  padding-bottom:37px;
}

.glyphicon{
  position: relative;
  font-size: 42px;
  color: #27475e;
}

.container.bawah{
  text-align: center;
}

#news{
  margin-top: 31px;
  background-color: #f9f8f8;
  padding-top: 43px;
  padding-bottom: 25px;
}

#news img{
  width: 1000px;
  height: 200px;
}

#gallery .container h1{
  text-align: center;
  font-family: raleway;
  margin-bottom: 38px;
}

#gallery #satu img{
  width: 500px;
  height: 465px;
}

#gallery #dua img{
  width: 250px;
  height: 175px;
}

#gallery #tiga img{
  width: 544px;
  height: 260px;
  margin-top: 30px;
}

#gallery .container .row #dua.col-lg-6.col-md-6.col-sm-6.col-xs-6{
  padding-top:31px;
}

#about{
  background-color: #102128;
  margin-top: 79px;
  color: white;
}

#about .container{
  width: 100%;
  padding: 55px;
}

#about .container.footer .col-lg-6.col-md-6.col-sm-12.col-xs-12{
  font-family:petitamedium;
  color:#eee;
}

.input-group.input-group-lg{
  margin-top:23px;
}

#icon{
  color:white;
  font-size:37px;
  margin-top:20px;
  position:static;
}

#icon i.fa.fa-facebook-official{
  margin-left:17px;
}

#icon i.fa.fa-instagram{
  margin-left: 17px;
}

#icon i{
  margin-left: 800px;
  position: center;
}

#kaki{
  color: rgb(40,78,94);
  background-color: #0f1517;
}
